*~
tests/loginT411.json
*.pyc
torrentSearch/torrentSearch.json
JSAG
JSAG3
#tests/downloaderTransmission.json
config.json
copyJSAG3.sh
series.json
web/static/*.jpg
package.tgz
syno/package.tgz
syno/tvshowwatch2.spk
utils/directory.conf
