.ng-invalid.ng-dirty {
	border-color:#FA787E;
}

.ng-valid.ng-dirty {
	border-color:#78FA89;
}

.dateRed {
	color: 'red';
}

.dateOrange {
	color: 'orange';
}

.dateGreen {
	color: 'green';
}

.tvShowTitle {
	display: inline-block;
	width:250px;
}

.tvShowEpisode {
	display: inline-block;
	width:70px;
}

.tvShowStatus {
	display: inline-block;
	width:400px;
}

.tvShowNext {
	display: inline-block;
	width:150px;
}

.panel-heading a {
	text-decoration: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.uib-accordion-group pre{
	background-color: transparent;
	border: 0;
}
