<html ng-app="tsw">
    <head>
        <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link type="text/css" href="//code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.css" rel="stylesheet" />
        <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.css" rel="stylesheet" />
        <link type="text/css" href="css/TSW.css" rel="stylesheet" />
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
        <script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
        <script type="text/javascript" src="js/alpacaForm.js"></script>
        <script type="text/javascript" src="js/functions.js"></script>
        <script type="text/javascript" src="js/TSW.js"></script>
        <script type="text/javascript" src="js/appTSW.js"></script>
        
        <script type="text/ng-template" id="customTemplate.html">
		  <a>
			  <p class="tt-suggestion"><span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span><br />
			  <small>{{match.model.info}}</small></p>
		  </a>
		</script>
        
        
    </head>
    <body>
    	<div class="container">
    		<div id="content">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#home" data-toggle="tab">Home</a></li>
					<li><a href="#tvshow" data-toggle="tab">TV Shows</a></li>
					<li><a href="#conf" data-toggle="tab">Configuration</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="home"><input type="button" value="test" id="test" /></div>
					<div class="tab-pane" id="tvshow" ng-controller="TvShowController as tvShows">
						<h2>Add Tv Show</h2><br />
						<div id="search_tvshow"></div>
						<form ng-submit="tvShowAdd(search)">
							<input type="text" ng-model="search" name="search" ng-model="asyncSelected" placeholder="Type your favorite TV Show name" uib-typeahead="tvShow as tvShow.value for tvShow in getTvShow($viewValue)" typeahead-template-url="customTemplate.html" class="form-control" />
						</form>
						<h2>Tv Show List</h2>
						<div class="panel-group" id="accordion" aria-multiselectable="true"></div>
						<div class="panel-group" id="accordion1" aria-multiselectable="true">
							<div ng-repeat="tvShow in tvShows.tvShowsList | orderBy:'title'">
								<div class="panel panel-default TvShowList" seriesid="{{tvShow.seriesid}}">
									<div class="panel-heading">
										<div class="tvShowTitle">
											<a data-target="#tvShow{{tvShow.seriesid}}" data-toggle="collapse" aria-expanded="true" aria-controls="tvShow{{tvShow.seriesid}}" data-parent="accordion1">{{tvShow.title}}</a>
										</div>
										<div class="tvShowEpisode">S{{tvShow.season | numberFixedLen:2}}E{{tvShow.episode | numberFixedLen:2}}</div>
										<div class="tvShowStatus">{{tvShow.status | statusLabel}}</div>
										<button class="btn btn-default right_float" aria-label="Delete" ng-click="tvShows.tvShowDelete(tvShow)">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										</button>
									</div>
								</div>
								<div class="collapse" id="tvShow{{tvShow.seriesid}}">
									<h3>{{tvShow.title}}</h3>
									<img ng-src="{{tvShow.info.banner_url}}" ng-hide="{{tvShow.info.banner_url}}===null">
									<p>{{tvShow.info.overview}}</p>
									<p>Broadcast date of S{{tvShow.season | numberFixedLen:2}}E{{tvShow.episode | numberFixedLen:2}}: {{tvShow.info.firstaired | date:'dd/MM/yyyy'}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane container-fluid" id="conf">
						<div class="row">
							<ul id="tabs-conf" class="nav nav-pills nav-stacked col-sm-4" data-tabs="tabs">
								<li class="active"><a href="#torrent-search" data-toggle="tab">Torrents providers</a></li>
								<li><a href="#downloader" data-toggle="tab">Torrent client</a></li>
								<li><a href="#transfer" data-toggle="tab">Transfer method</a></li>
							</ul>
							<div class="tab-content col-sm-8">
								<div class="tab-pane active" id="torrent-search"></div>
								<div class="tab-pane" id="downloader"></div>
								<div class="tab-pane" id="transfer"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
    </body>
</html>
