<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="appTsw">
	<head>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div class="container" ng-controller="TabsController as tabs">
			<ul class="nav nav-tabs">
				<li ng-class="{ active:tabs.isSelected('home') }"><a href ng-click="tabs.selectTab('home')">Home</a></li>
				<li ng-class="{ active:tabs.isSelected('tvShows') }"><a href ng-click="tabs.selectTab('tvShows')">TvShows</a></li>
				<li ng-class="{ active:tabs.isSelected('conf') }"><a href ng-click="tabs.selectTab('conf')">Configuration</a></li>
			</ul>
			<div ng-show="tabs.isSelected('home')">Home</div>
			<div ng-show="tabs.isSelected('tvShows')" ng-controller="TvShowListController as tvshowlist">
				<form name="newTvShowForm" class="form-inline" ng-controller="NewTvShowController as newTvShowCtrl" ng-submit="newTvShowForm.$valid && newTvShowCtrl.addTvShow(tvshowlist.list)" novalidate>
					<!--<pre>Model: {{newTvShowCtrl.tvshow | json}}</pre>-->
					<label for="search">TV show title</label>
					<div class="input-group" ng-controller="TypeaheadController as TypeaheadCtrl">
						<input type="search" class="form-control"  results="5" autocomplete="off" placeholder="Search and add your favorite TV show!"  uib-typeahead="tvShow as tvShow.title for tvShow in getLivesearch($viewValue)" ng-model="newTvShowCtrl.tvshow" typeahead-min-length="2" typeahead-template-url="livesearch.html" required />
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Add!</button>
						</span>
					</div>
				</form>	<br />
				<uib-accordion>
					<tvshow ng-repeat="tvshow in tvshowlist.list | orderBy:'title'" tvshow="tvshow" tvshowlist="tvshowlist"></tvshow>
				</uib-accordion>
			</div>
			<div ng-show="tabs.isSelected('conf')">
				<div class="row" ng-controller="PillsController as pills">
					<ul class="nav nav-pills nav-stacked col-sm-4">
						<li ng-class="{ active:pills.isSelected('torrent-search') }"><a ng-click="pills.selectTab('torrent-search')">Torrents providers</a></li>
						<li ng-class="{ active:pills.isSelected('downloader') }"><a ng-click="pills.selectTab('downloader')">Torrent client</a></li>
						<li ng-class="{ active:pills.isSelected('transferer') }"><a ng-click="pills.selectTab('transferer')">Transfer method</a></li>
						<li ng-class="{ active:pills.isSelected('notificator') }"><a ng-click="pills.selectTab('notificator')">Notifications</a></li>
					</ul>
					<div class="tab-content col-sm-8">
						<div id="torrent-search" ng-show="pills.isSelected('torrent-search')" ng-controller="TorrentProvidersController as TPCtrl"></div>
						<div id="downloader" ng-show="pills.isSelected('downloader')" ng-controller="TorrentClientController as TPCtrl"></div>
						<div id="transfer" ng-show="pills.isSelected('transferer')" ng-controller="TransferController as TPCtrl"></div>
						<div id="notificator" ng-show="pills.isSelected('notificator')" ng-controller="NotificatorController as TPCtrl"></div>
					</div>
				</div>
			</div>
		</container>
	    <div id="notification" ng-controller="NotificationController"></div>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
        <script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.17/bootstrap/alpaca.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/tvshow.js"></script>
		<script type="text/javascript" src="js/config.js"></script>
        <script type="text/javascript" src="js/alpacaForm.js"></script>
	</body>
</html>
