<uib-accordion-group is-disabled="tvshow.isDisable === true">
      <uib-accordion-heading>
			<div class="tvShowTitle">{{tvshow.title}}</div>
			<div class="tvShowEpisode">S{{tvshow.season | numberFixedLen:2}}E{{tvshow.episode | numberFixedLen:2}}</div>
			{{tvshow.status | statusLabel}}
      </uib-accordion-heading>
	<div>
		<img ng-src="{{tvshow.info.banner_url}}" />
		<button class="btn btn-default pull-right" aria-label="Delete" ng-click="tvshowlist.delete(tvshow.seriesid)">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
	<p> {{ tvshow.info.overview }}</p>
		<label for="season">Watching episode:</label>
	<form class="input-group col-lg-3 col-md-4 col-sm-5 col-xs-6" ng-submit="tvshowlist.updateEpisode(tvshow.seriesid)">
		<span class="input-group-addon">S</span>
		<input type="number" class="form-control" aria-label="Season" ng-model="tvshow.season" min="1" max="99">
		<span class="input-group-addon">E</span>
		<input type="number" class="form-control" aria-label="Episode" ng-model="tvshow.episode" min="1" max="99">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Change!</button>
		</span>
	</form>
	<label for="pattern">Search pattern:</label>
	<form class="input-group col-lg-3 col-md-4 col-sm-5 col-xs-6" ng-submit="tvshowlist.updatePattern(tvshow.seriesid)">
		<input type="text" class="form-control" aria-label="pattern" ng-model="tvshow.pattern" />
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">Change!</button>
		</span>
	</form>
	<label>Download progression</label>
	<uib-progressbar animate="true" type="success" value="tvshow.progress"><b>{{tvshow.progress}}%</b></uib-progressbar>
</uib-accordion-group>
