<uib-accordion-group is-disabled="tvshow.isDisable === true">
      <uib-accordion-heading>
			<div class="tvShowTitle">{{ tvshow.info.seriesname }}</div>
			<div ng-show="tvshow.season" class="tvShowEpisode">S{{tvshow.season | numberFixedLen:2}}E{{tvshow.episode | numberFixedLen:2}}</div>
			<div uib-popover="{{tvshow.status | statusDescription}}" popover-trigger="mouseenter" popover-placement="bottom-left" class="tvShowStatus">
        {{tvshow.status | statusLabel}}
      </div>
      <div ng-show="tvshow.info.firstaired" ng-class="classDate(tvshow.info.firstaired)" class="tvShowNext">Next: {{ formatDate(tvshow.info.firstaired) | date:'dd/MM/yyyy' }}</div>
      </uib-accordion-heading>
	<div>
		<img ng-show="tvshow.info.banner" ng-src="{{tvshow.info.banner ? 'static/banner_'+tvshow.seriesid+'.jpg' : '//:0'}}" class="img-responsive"/>
		<button class="btn btn-default pull-right" aria-label="Delete" ng-click="tvshowlist.delete(tvshow.seriesid)" uib-popover="Stop TV Show watching/download" popover-trigger="mouseenter" popover-placement="bottom-left">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
	</div>
	<p> {{ tvshow.info.overview }}</p>
	<episode tvshow="tvshow" tvshowctrl="tvShowCtrl"></episode>
	<pattern tvshow="tvshow" tvshowctrl="tvShowCtrl"></pattern>
	<div ng-show="tvshow.status == 30 || tvshow.status == 35">
		<label>Download progression</label>
		<uib-progressbar animate="true" type="success" value="tvshow.progress"><b>{{tvshow.progress}}%</b></uib-progressbar>
	</div>
	<emails tvshow="tvshow" tvshowctrl="tvShowCtrl"></emails>
	<keywords tvshow="tvshow" tvshowctrl="tvShowCtrl"></keywords>
	<push-torrent tvshow="tvshow" tvshowctrl="tvShowCtrl"></push-torrent>
  <div>
    <label>Special actions</label><br />
    <button type="button" class="btn btn-default" ng-click="tvShowCtrl.forceUpdate()" uib-popover="Force TV Show to update status" popover-trigger="mouseenter" popover-placement="bottom-left">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Force update
    </button>
  </div>
</uib-accordion-group>
